# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore

# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# typescript target
dist/

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# generated folders
generated/

# additional ignores
*.db
*.db-shm
*.db-wal
*.env